body {
    font-family: 'Poppins', sans-serif;
}

/******HEADER*****/

header {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
}

.website-title {
    display: flex;
    font-family: 'Poppins';
    color : rgb(146, 37, 37);
    .title-human {
        font-weight: 300;
    }
    h1 i {
        position: relative;
        top: 3px;
    }
}

.header-nav {
    display: flex;
    flex-direction: column;
    width: 55%;
    div {
        height: 40%;
    }
    .up-nav {
        display: flex;
        justify-content: flex-end;
        gap: 45px;
        padding-right: 10%;
        margin-bottom: 2%;
        background: linear-gradient(to right, #ffffff, #cccccc);
        a {
            text-decoration: none;
            color: black;
        }
    }
    .down-nav {
        display: flex;
        justify-content: space-between;
        padding-right: 10%;
        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
        }
        .ticketting-text {
            position: relative;
            bottom: 5px;
            color: rgb(146, 37, 37);
        }
        img {
            margin-right: 10px;
        }
    }
}

.up-nav-text {
    display: flex;
    align-items: center;
    a {
        font-size: 12px;
        font-weight: 600;
    }
    .blog-link {
        padding-right: 30px;
        border-right: rgb(141, 137, 137) solid 1px;
    }
    .contact-link {
        padding-left: 30px;
    }
}

.up-nav-icon {
    display: flex;
    width: 8%;
    justify-content: space-between;
    align-items: center;
    i {
        color : rgb(146, 37, 37);
        font-size: 24px;
    }
}

#auvergne-winefair, #newsletter-banner, #practical-infos {
    margin-left: 5.15%;
    margin-right: 5.15%;
}

/*******WINFAIR**********/

/*******CAROUSEL*******/

/*******DESCRIPTION BANNER********/

.description-banner {
    display: flex;
    flex-direction: column;
    .fine-palate-banner {
        display: flex;
        justify-content: space-between;
        h2 {
            font-weight: 600;
            font-size: 18px;
            color : rgb(146, 37, 37);
            margin-bottom: 0;
            margin-top: 25px;
        }
        h3 {
            font-size: 50px;
            font-weight: 400;
            color: rgb(67, 65, 65);
            margin-top: 0;
        }
        .palate-text {
            display: flex;
            flex-direction: column;
            .part1 {
                font-size: 22px;
                margin-bottom: 20px;
            }
            .part2 {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 20px;
            }
        }
        .discover-fair-btn {
            font-family: 'Work Sans';
            font-size: 16px;
            font-weight: 600;
            background-color: rgb(146, 37, 37);
            border: rgb(146, 37, 37) solid 2px;
            color: #ffffff;
            padding: 20px;
            border-radius: 50px;
            margin-top: 30px;
        }
    }
}

.details-banner {
    position: relative;
    margin-top: 100px;
    margin-bottom: 60px;
    .details-content {
        height: 350px;
        .img-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            filter: brightness(0.4);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content-text {
            display: flex;
            margin-top: 20px;
            position: relative;
            z-index: 2; /** pour que le contenu soit bien au-dessus de l'image**/
            div {
                padding-right: 55px;
                padding-left: 55px;
                h2 {
                    color: rgb(146, 37, 37);
                    font-weight: 700;
                    font-size: 80px;
                    margin: 0;
                }
                h2 span {
                    vertical-align: super;
                    font-size: 40px;
                }
                h3 {
                    margin-top: 0;
                    color: #ffffff;
                }
                p {
                    font-weight: 400;
                    margin: 0;
                    color: #ffffff;
                }
            }
            .visitor-text, .exhibitor-text, .hubs-to-visit-text {
                border-right: white 1px dotted;
            }
        }
    }
}

/*******TO BOOK BANNER*****/

.toBook-banner .title {
    display: flex;
    flex-direction: column;
    h2 {
        font-weight: 600;
        font-size: 18px;
        color : rgb(146, 37, 37);
        margin-bottom: 0;
    }
    h3 {
        font-size: 50px;
        font-weight: 400;
        color: rgb(67, 65, 65);
        margin-top: 0;
    }
}

.toBook-content {
    display: flex;
    justify-content: space-between;
    .part1 {
        display: flex;
        margin-top: 10px;
        height: 70px;
    }
    .toBook-text {
        display: flex;
        flex-direction: column;
        .big-letter {
                font-size: 100px;
                font-weight: 700;
                color : rgb(146, 37, 37);
                text-align: left;
                position: relative;
                bottom: 52px;
            }
            .big-letter-text {
                height: fit-content;
            }
            .part1, .part2 {
                font-size: 22px;
            }
            .part2, .part3 {
                margin-left: 6px;
                margin-bottom: 20px;
            }
            .part3 {
                font-size: 18px;
                font-weight: 300;
            }
        }
        .btn-section {
            display: flex;
            flex-direction: column;
            width: fit-content;
            button {
                font-family: 'Work Sans';
                font-size: 16px;
                font-weight: 600;
                border-radius: 50px;
            }
            .exhibitors-list-btn {
                background-color: #ffffff;
                border: rgb(146, 37, 37) solid 2px;
                color: rgb(146, 37, 37);
                padding: 20px;
                margin-bottom: 30px;
            }
            .toBook-btn {
                background-color: rgb(146, 37, 37);
                border: rgb(146, 37, 37) solid 2px;
                color: #ffffff;
                i {
                    font-size: 24px;
                    margin-right: 5px;
                    padding: 18px;
                    border-radius: 50px;
                    width: 20px;
                    height: 20px;
                    background-color: rgb(105, 50, 50);
                    position: relative;
                    right: 5px;
                }
                i::before {
                    position: relative;
                    right: 5px;
                    bottom: 4px;
                }
                span {
                    position: relative;
                    bottom: 5px;
                    padding-right: 15px;
                }
            }
        }
}


/******BLOG SLIDERS*******/

#news-blog {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    .title {
        margin-left: 5.15%;
    }
    h2 {
        font-weight: 600;
        font-size: 18px;
        color : rgb(146, 37, 37);
        margin-bottom: 0;
    }
    h3 {
        font-size: 50px;
        font-weight: 400;
        color: rgb(67, 65, 65);
        margin-top: 0;
    }
    .news-sliders {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 1.2%;
        margin-right: 1.2%;
        div {
            max-height: 380px;
            width: auto; /** la largeur du div s'ajuste à la largeur de l'image**/
            img {
                width: 406px;
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
            h4 {
                font-family: 'Work Sans';
                font-size: 20px;
                font-weight: 600;
            }
            a {
                text-decoration: none;
                color: rgb(146, 37, 37);
                font-weight: 800;
                font-size: 14px;
                border-bottom: rgb(146, 37, 37) solid 2px;
            }
        }
        i {
            font-size: 20px;
            border-radius: 50px;
            border: rgb(236, 133, 133) solid 1px;
            color: rgb(146, 37, 37);
            width: 20px;
            height: 20px;
            padding: 15px;
            text-align: center;
        }
    }
    .all-news-link {
        text-align: center;
        margin-top: 70px;
        a {
            text-decoration: none;
            background-color: rgb(146, 37, 37);
            color: white;
            padding: 20px;
            border-radius: 50px;
            font-family: 'Work Sans';
            font-weight: 600;
            font-size: 16px;
        }
    }
}

/******NEWSLETTER**********/

#newsletter-banner {
    position: relative;
    margin-top: 100px;
    margin-bottom: 120px;
    .newsletter-content {
        position: relative;
        z-index: 1; /* Assure que le contenu reste au-dessus de l'image de fond */
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 420px;
        .img-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Pour assurer le remplissage de l'image */
                filter: brightness(0.3); /* Ajustez la valeur pour obtenir l'effet de filtre sombre souhaité */
            }
        }
        .title, .email-form, .confidentiality {
            position: relative;
            z-index: 2; /* Assure que le texte reste au-dessus de l'image de fond */
        }
        .title {
            height: 110px;
            width: fit-content;
            position: relative;
            left: 41%;
            h2 {
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                color: #a9a8a8;
                margin: 0;
            }
            h3 {
                font-size: 55px;
                color: #ffffff;
                font-weight: 400;
                margin: 0;
            }
            .non-straight-underline {
                position: relative;
                width: 70%;
                margin: 0 auto;
                height: 8px;
                clip-path: polygon(
                    0 0,
                    100% 10%,
                    0 20%,
                    100% 30%,
                    0 40%,
                    100% 50%,
                    0 60%,
                    100% 70px,
                    0 80%,
                    100% 90%,
                    0 100%
                );
                background-color: rgb(146, 37, 37);
            }
        }
        .email-form {
            margin-left: 35%;
            form {
                display: flex;
                flex-direction: column;
                width: 45%;
                margin-top: 50px;
                gap: 10px;
                font-family: 'Work Sans';
                label {
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 14px;
                }
                div {
                    display: flex;
                    input {
                        padding: 20px 10px;
                        border: none;
                        font-size: 18px;
                    }
                    input[type="email"] {
                        width: 70%;
                        border-radius: 50px 0 0 50px;
                    }
                    input[type="email"]::placeholder {
                        text-align: center;
                    }
                    input[type="submit"]{
                        width: 30%;
                        border-radius: 0 50px 50px 0;
                        background-color: rgb(146, 37, 37);
                        color: #ffffff;
                    }
                }
            }
        }
        .confidentiality {
            display: flex;
            color: #ffffff;
            justify-content: center;
            font-weight: 300;
            font-size: 15px;
            i {
                font-size: 22px;
                position: relative;
                right: 10px;
                top: 15px;
            }
            p span {
                border-bottom: 1px white solid;
                padding-bottom: 2px;
            }
        }
    }
}

/*****PRACTICAL INFOS*******/

#practical-infos {
    display: flex;
    flex-direction: column;
    .rate-infos {
        display: flex;
        column-gap: 6.2%;
        img[src="assets/images/winefair/practical_1.png"] {
            width: 46%;
        }
        .rate-infos-subsection {
            display: flex;
            flex-direction: column;
            width: 49%;
            row-gap: 4.9%;
            .rate-content {
                display: flex;
                height: 51.2%;
                justify-content: space-between;
                .rate-text {
                    .title {
                        h2 {
                            font-weight: 600;
                            font-size: 18px;
                            color: rgb(146, 37, 37);
                            margin-bottom: 0;
                        }
                        h3 {
                            font-size: 50px;
                            font-weight: 400;
                            color: rgb(67, 65, 65);
                            margin-top: 0;
                        }
                    }
                    p {
                        font-size: 22px;
                    }
                }
                img[src="assets/images/winefair/practical_2.png"] {
                    width: 40%;
                    height: 300px;
                    position: relative;
                    bottom: 70px;
                }
            }
            .ticketRate-infos {
                height: 43.9%;
                .ticket-array {
                    width: 95%;
                    height: 110%;
                    display: grid;
                    grid-template-columns: 71% 29%;
                    grid-template-rows: 28.51% 42.76% 28.51%;
                    align-items: center;
                    border-top: 1px dotted rgb(67, 65, 65);
                    border-bottom: 1px dotted rgb(67, 65, 65);
                    > div > div:first-child > span {
                        font-size: 22px;
                        font-weight: 600;
                    }
                    > div > div > span:nth-child(2) {
                        font-size: 14px;
                    }
                    #underAge-ticket {
                        border-top: 1px dotted rgb(67, 65, 65);
                        border-bottom: 1px dotted rgb(67, 65, 65);
                    }
                    .ticket {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        border-right: 1px dotted rgb(67, 65, 65);
                        border-left: none;
                        padding-left: 20px;
                    }
                    #underAge-rate {
                        border-top: 1px dotted rgb(67, 65, 65);
                        border-bottom: 1px dotted rgb(67, 65, 65);
                    }
                    .rate {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgb(146, 37, 37);
                        font-weight: 600;
                        font-size: 18px;
                        height: 100%;
                    }
                }
                .ticket-access {
                    margin-top: 40px;
                    width: fit-content;
                    background-color: rgb(146, 37, 37);
                    border: rgb(146, 37, 37) solid 2px;
                    color: #ffffff;
                    border-radius: 50px;
                    padding: 5px 30px 5px 10px;
                    i {
                        font-size: 24px;
                        margin-right: 5px;
                        padding: 18px;
                        border-radius: 50px;
                        width: 20px;
                        height: 20px;
                        background-color: rgb(105, 50, 50);
                        position: relative;
                        right: 5px;
                    }
                    i::before {
                        position: relative;
                        right: 5px;
                        bottom: 4px;
                    }
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        position: relative;
                        bottom: 5px;
                    }
                }
            }
        }

    }
    .location-infos {
        margin-top: 100px;
    }
}